<ol reversed class="postlist">
{% for post in postslist | reverse %}
	{% if not post.data.hidden %}
		<li class="postlist-item{% if post.url == url %} postlist-item-active{% endif %}">
			<div class="postlist-linkdesc">
				<a href="{{ post.url }}" class="postlist-link">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
				<time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate("yyyy/MM/dd") }}</time>
				<p class="postlink-desc">{{ post.data.description }}</p>
			</div>
			
			<div class="postlist-tags">
				{% set filter = ["all", "post", "posts", "tagList"] %}
				{% for tag in post.data.tags %}
					{% if not filter.includes(tag) %}
						<a href="/tags/{{ tag.toLowerCase() }}" class="postlist-tag">{{ tag }}</a>
					{% endif %}
				{% endfor %}
			</div>
		</li>
	{% endif %}
{% endfor %}
</ol>
